:root {
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --reenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  --lightslateblue: hsl(252, 100%, 67%);
  --lightslateblue: hsl(241, 81%, 54%);

  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgrayblue: hsl(224, 30%, 27%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.container {
  display: flex;
  background-color: var(--white);
  margin: 100px auto;
  height: min-content;
  width: 600px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
}

/* results */

.results-container {
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 80%
  );
  padding: 30px;
  color: var(--white);
}

.results-box-title {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
}

.results-circle {
  background-color: var(--violetblue);
  height: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.score {
  font-size: 3rem;
  color: var(--white);
  font-weight: 800;
}

.total {
  color: var(--lightlavender);
  font-size: 14px;
  opacity: 0.7;
}

.results-title {
  font-size: 26px;
  font-weight: 700;
  margin: 10px auto;
}

.results-summary {
  margin: 0 auto;
  width: 250px;
  opacity: 0.7;
}

/* summary */

.summary-container {
  padding: 30px;
  width: 100%;
}

.summary-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
  margin: 10px auto;
  width: 100%;
}

.reaction-bar {
  background-color: hsla(0, 100%, 67%, 0.05);
  color: var(--Lightred);
}

.memory-bar {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: var(--Orangeyyellow);
}

.verbal-bar {
  background-color: hsla(166, 100%, 37%, 0.05);
  color: var(--reenteal);
}

.visual-bar {
  background-color: hsla(234, 85%, 45%, 0.05);
  color: var(--Cobaltblue);
}

.summary-bar div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.summary-score {
  color: black;
}

.summary-score span {
  opacity: 0.5;
  margin-left: 0.2rem;
}

.continue-btn {
  border: none;
  color: var(--white);
  background-color: var(--darkgrayblue);
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

@media only screen and (max-width: 630px) {
  .container {
    flex-direction: column;
    width: 350px;
  }
}
